<div class="container">
  <div class="d-flex justify-content-between about-me">
    <!-- selector -->
    <div class="intro">
      <!-- short bio -->
      <div class="lead mt-5">Hello, I'm</div>
      <div class="h2">{{title}}</div>
      <p>Android | Web Developer & UI | UX Designer</p>

      <!-- social activities -->
      <div class="d-flex justify-content-start">
        <div *ngFor="let social of social_media">
          <a class="btn btn-light  btn-sm" href="{{social.site_url}}">
            <svg-icon src="{{social.image_url}}" [svgStyle]="{ 'width.px':20 }"></svg-icon>
          </a>
        </div>
      </div>
      <div class="bio mt-5 mb-5">
        {{bio}}
      </div>
      <div class="hireme-btn">
        <a class="btn btn-primary rounded-pill btn-sm" routerLink="/hire" href="#" role="button">HIRE ME</a>
      </div>
    </div>

    <div class="col-sm-4">
      <img src="assets/person/avatar1.jpg" class="rounded-lg card-img-top" alt="rannaghor">
    </div>
  </div>

  <!-- divider -->
  <hr class="my-4">

  <!-- projects -->
  <div class="text-start">
    <!-- project item holder -->
    <div class="row">
      <div class="projects" *ngFor="let project of projects" style="min-width: 18rem;">
        <div class="card shadow-sm p-3 mb-5 bg-white rounded">
          <div class="card-body">
            <div class="row">
              <div class="col-sm project-info">
                <div class="h3 card-title">{{project.name}}</div>
                <div class="h5 card-text">{{project.type}}</div>
                <div class="card-text">{{project.desc}}</div>
              </div>
              <div class="col-sm image">
                <img src="{{project.img}}" class="card-img-top" alt="{{project.name}}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- load more projects -->
    <button class="btn btn-outline-primary rounded-pill my-2 btn-sm" type="submit">LOAD MORE WORK</button>

  </div>

  <!-- about me -->
  <div class="row">
    <div class="col-sm-4" style="margin-top: 2em;">
      <img src="assets/person/avatar2.jpg" class="card-img-top" alt="rannaghor">
    </div>

    <div class="col" style="margin-top: 2em; margin-bottom: 2em;">
      <h5>{{about_me}}</h5>
      <h1>{{who_am_i}}</h1>
      <p>{{about_body}}</p>
      <button class="btn btn-outline-primary rounded-pill my-2 btn-sm" type="submit">HIRE ME</button>
    </div>
  </div>

</div>
