/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$primary: rgb(111, 0, 255);
$primaryDark: rgb(111, 0, 255);

.navbar {
  margin-bottom: 20px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.rounded-pill {
  padding-left: 20px;
  padding-right: 20px;
}

li {
  font-size: 12px;
  font-weight: bold;
}
